div[data-bs-backdrop=static] {
    backdrop-filter: blur(2px) !important;
}

.modal-content {
    background-color: #fff !important;
}

.modal-header {
    background-color: rgb(140, 87, 255) !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding: 5px 10px 5px 15px !important;

    .modal-title {
        font-weight: 900 !important;
        color: #fff !important;
    }
}

.popup-footer {
    display: block;
    position: sticky;
    bottom: -16px;
    left: 0;
    background-color: #efefef;
    height: 49px;
    padding: 5px 20px;
}

.modal-xl {
    > .modal-content {
        max-width: 1500px !important;
        > .modal-body {
            min-height: 500px;
        }
    }
}

.modal-backdrop {
    background-color: #888 !important;
}

:nth-child(1 of .modal-backdrop) {
    z-index: 1054;
}

:nth-last-child(1 of .modal-backdrop) {
    z-index: 1050;
}

//.modal-backdrop:last-child {
//    z-index: 1050;
//    background-color: #888 !important;
//}
//
//.modal-backdrop:not(:last-child) {
//    z-index: 1054;
//    background-color: #888 !important;
//}
