.table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date{
    text-align: left !important;
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: black;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link.active, .active > .page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: rgb(115,103,240);
    border-color: rgb(115,103,240);
}

.cardheader {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 70px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    word-wrap: break-word;
    background-color: rgb(115,103,240);
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .75rem;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(115,103,240,.4)!important;
    justify-content: center;
    align-items: start;
}

.popup-button{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(115,103,240,.4)!important;
}

.dt-action{
    text-align: right !important;
}
