* {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #a6a9a7;
    --sb-size: 8px;
}

::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size)
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--sb-thumb-color)
        var(--sb-track-color);
    }
}
